.float-right{
  position: absolute;
  right: 5px;
  bottom: 8px;
}

p{
  color: #adbed2;
  text-decoration:none;
  background-color: #12406a; 
  text-align: center;
}

.container-fluid{
  padding-bottom: 60px;
  padding-top: 50px;
}

.navbar{
  background-color: #12406a;
  color: #adbed2;
}

.nav-link{
  color: black;
  
}

button{
  background-color: #eb8f90;
  color: #12406a;
}

