/* .float-right{
  position: absolute;
  right: 5px;
  bottom: 8px;
} */

p{
  color: #12406a;
  text-decoration:none;
  background-color: #adbed2; 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid{
  padding-bottom: 60px;
  padding-top: 50px;
  background-color: #ebebf0;
}

.navbar{
  background-color: #eb8f90;
  color: #adbed2;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

}

.nav-link{
  color: #12406a;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
   
}

#home-btn{
  margin-left: 10px;
  font-size: 50px;
  color: #12406a;
  font-family: 'Montserrat', sans-serif;
 
}

button{
  background-color: #eb8f90;
  color: #12406a;
}

.nav-link:hover {
  background-color: #72996d;
}

.page1, .page2, .page3, .page4, .page5, .page6{
  background-color: #72996d;

  font-family: 'Montserrat', sans-serif;
}

img{
  align-content: center;
  width: 100%;
  height: 600px;
}

.form-inline .form-control{
  width: 75%;
}

.btn{
  width: 25%;
}

.content-container{
  padding-top: 40px;
}

.table {
  width: 80%;
  margin: 0 auto;
  background: beige;
  border: 1px solid black;
  border-radius: 12px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: .8rem;
}
